#main {
	position: absolute;
	left: 300px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
	border-left: 1px solid black;
}

#nav {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 300px;
	bottom: 0px;
	overflow: hidden;
	border-right: 1px solid black;
	
	
}

#map {
	transform: scale(1, 1);
	-ms-transform: scale(1, 1); /* IE 9 */
	-webkit-transform: scale(1, 1); /* Safari and Chrome */
	-o-transform: scale(1, 1); /* Opera */
	-moz-transform: scale(1, 1); /* Firefox */
}

@media only screen and (orientation:portrait) {
	
	#main {
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
	}
	#nav {
		display:none;
	}
}

.gwt-PopupPanelGlass {
	background-color: #000;
	opacity: 0.3;
	filter: literal("alpha(opacity=30)");
}
